:root{
    --PrimaryColor:  #00094B;
    --HoverColor: #701CF5;
    --WhiteColor:#FFFFFF;
    --Secondary: #EB464B;
    --Base: #545454;
    --Base2: #DADADA;
    --Black: #000000;
    --Especial: #7ED957;
    --TextColor: #DADADA;

}

.contenPGM{
    height: 100%;
    width: 95%;
    display: flex;
    
   
    .inputName{
        background: #545454;
        height: 2rem;
        width: 60%;
        color: #DADADA;
        padding-left: 1.1rem;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }

    .inputHour{
        background: #545454;
        height: 2rem;
        width: 95%;
        color: #DADADA;
        padding-left: 1.1rem;
        font-size: 1.1rem;
        text-align: center;
        
    }

    .imgTime{
        width: 3rem;
        margin-right: .7rem;
    }


    .contentSectionTime{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin-bottom: 1.5rem;
    }

    .area{
        background: #545454;
        width: 60%;
        height: 4.5rem;
        color: #DADADA;
        padding: .5rem;
    }

    .seccionButons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        width: 60%;
        margin-top: 5%;
    
       
        
        .containerSingleButtom{
            background: #547725;
            padding: .2rem;
            border-radius: .5rem;
            box-shadow: .2rem .2rem .8rem #545454;

          

            .img-butons{
                height: 3rem;
                width: 3.5rem;
                
            }
     
        }

        .containerSingleButtom:hover{
            cursor: pointer;
            transform: scale(1.1);
        }


        .containerSingleButtomDelete{
            background: #EB464B;
            padding: .2rem;
            border-radius: .5rem;
            box-shadow: .2rem .2rem .8rem #545454;

          

            .img-butons{
                height: 3rem;
                width: 3.5rem;
                
            }
     
        }

        .containerSingleButtomDelete:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .horarios
    {
        width: 60%;
        display: flex;
    }
    .ulHorarios{
        width: 60%;
        padding: 0rem .5rem 2rem .5rem
    }
}



.sectionLt{
    height: 90%;
    width: 35%;
    padding: 1.5rem;
    border-left: 1px solid #ce1414;
    padding: 1.5rem 2rem;
    overflow: hidden;
    margin-left: -10%;

    .ListLI{
        border-bottom: 1px solid #701CF5;
        padding: .18rem 0 .18rem 0;
    }

    .ListLI:hover{
        transform: scale(.9);
        cursor: pointer;
    }

    .activo{
        background: #547725;
        color: #DADADA;
        font-weight: 400;
        
    }

    .cabezal{
        margin-bottom: 2px;
        color: #ce1414;
    }

}

.cabezal2{
    color: #ce1414;
    margin-bottom: 2px;
    margin-top: 8px;
    

}

.sub1{
    height: 40%;
    overflow: auto;
}

.sub2{
    height: 40%;
    overflow: auto;
}



.TipoEvent{
 width:auto;
 display: flex;
 flex-direction: column;
 width: 100%;
 font-weight: 600;
}

.check{
   
    background-color: #00094B;
}

.color{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subTitulo2{
    color:  #EB464B;
    font-weight: 500;
    font-size: 1rem;
}