:root{
    --PrimaryColor:  #00094B;
    --HoverColor: #701CF5;
    --WhiteColor:#FFFFFF;
    --Secondary: #EB464B;
    --Base: #545454;
    --Base2: #DADADA;
    --Black: #000000;
    --Especial: #7ED957;
    --TextColor: #DADADA;
    --Special: #17429e;

}

.contentRotations{
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    
}

.inputDir{
    background: #545454;
    height: 2rem;
    width: 25%;
    color: #DADADA;
    padding-left: 1.1rem;
    font-size: 1.1rem;
    display: flex;
    margin-top: .5rem;
}

.sectionDaily{
    background-color: var(--Base2);
    width: 75%;
    height: auto;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    

    .imgDaily{
       width: 5rem;
       position: absolute;
       top: 8rem;
       left: 0
    }

    .mainCajas{
        height: 100%;
        padding: 1.2rem;
        width: 100%;
        position: relative;
    }

    .mainCajas2{
        height: 100%;
        padding: 1.2rem;
        width: 40%;
        position: relative;
    }

    .caja1{
        background-color: var(--Base);
        width: 100%;
        color: #FFFFFF;
        padding: .5rem;
        height: 100%;;

        .item:hover{
            background-color: #701CF5;
            cursor: pointer;
        }
    }

    .caja2{
        background-color: var(--HoverColor);
        width: 100%;
        color: #FFFFFF;
        padding: .9rem;
        overflow: auto;
        height: 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .horaIn{
        padding: .2rem;
        text-align: center;
        display: flex;
        flex-direction:column;
       
    }

    .input{
        text-align: center;
        color: #FFFFFF;
        background-color: #545454;
        border: 0;
        margin-bottom: .5rem;
        padding: .2rem;
    }

    .input:hover{
        cursor: pointer;
    }

    .caja3{
        width: 95%;
        height: 7.2rem;
        overflow: auto;
    }

    .caja4{
        width: 100%;
        height: 5rem;
        overflow: auto;
        display: flex;
    }

    .caja44{
        width: 100%;
        height: 5rem;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inputDir2{
        background: #545454;
        height: 1.2rem;
        width: 90%;
        color: #DADADA;
        font-size: .8rem;
        
    }

    .inputDir3{
        background: #545454;
        height: 2rem;
        width: 100%;
        color: #DADADA;
        font-size: .8rem;
        margin-top: .1rem;
        padding: .2rem;
        
        
    }

    .programas{
        color: #EB464B;
        margin-bottom: 1.2rem;
        font-weight: 700;
    }

    .containerSingleButtom{
        margin-top: .5rem;
        background: #547725;
        padding: .2rem;
        border-radius: .5rem;
        box-shadow: .2rem .2rem .8rem #545454;
        height: 3.5rem;
        margin-left: .2rem;
 
        .img-butons{
            height: 3rem;
            width: 3.5rem;
            
        }
 
    }

    .containerSingleButtom2{
        margin-top: .5rem;
        background: #547725;
        padding: .2rem;
        border-radius: .5rem;
        box-shadow: .2rem .2rem .8rem #545454;
        height: 3rem;
        margin-left: .2rem;
        display: flex;
 
        .img-butons{
            height: 3rem;
            width: 3.5rem;
            
        }
 
    }
    
    

    .containerDeleteButtom{
        background: #EB464B;
        margin-top: .5rem;
        padding: .2rem;
        border-radius: .5rem;
        box-shadow: .2rem .2rem .8rem #545454;
        height: 3.5rem;
        margin-left: .2rem;

        .img-butons{
            height: 3rem;
            width: 3.5rem;
            
        }
    }

    

    .containerDeleteButtom2{
        background: #EB464B;
        margin-top: .5rem;
        padding: .2rem;
        border-radius: .5rem;
        box-shadow: .2rem .2rem .8rem #545454;
        height: 3rem;
        margin-left: .2rem;
        display: flex;

        .img-butons{
            height: 3rem;
            width: 3.5rem;
            
        }
    }

    .seccionButons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        width: 60%;
        margin-top: 5%;
        
    }

    .containerSingleButtom:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .containerDeleteButtom:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

     .containerSingleButtom2:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .containerDeleteButtom2:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .seleccionadoDaily{
        position: absolute;
        top:10.5rem;
        left: 7rem;
    }

   .ProgramActions{
        position: absolute;
        top:-2%;
        right: -80%;
        width: 85%;
        height: 12rem;
        background: #545454;
        padding: 1rem;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        box-shadow: #000000 5px 5px 20px;
    }


}

 


.sectionSunday{
    background-color: var(--Base2);
    width: 75%;
    height: auto;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;

    .imgSunday{
       width: 7rem;
       position: absolute;
       top: 25.5rem;
       left: -1.1rem
    }

    .mainCajas{
        height: 100%;
        padding: 1.2rem;
        width: 100%;
    }

    .caja1{
        background-color: var(--Base);
        width: 100%;
        color: #FFFFFF;
        padding: .5rem;
        overflow: auto;
        

        .item:hover{
            background-color: #701CF5;
            cursor: pointer;
        }

    }


    .activo2{
        background-color: #00094B;
        cursor: pointer;
    }

    .caja2{
        background-color: var(--HoverColor);
        width: 100%;
        color: #FFFFFF;
        padding: .9rem;
        overflow: auto;
        height: 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .horaIn{
        padding: .2rem;
        text-align: center;
        display: flex;
        flex-direction:column;
       
    }

    .input{
        text-align: center;
        color: #FFFFFF;
        background-color: #545454;
        border: 0;
        margin-bottom: .5rem;
        padding: .2rem;
        position: relative;
        top: 0;
    }

    .input:hover{
        cursor: pointer;
    }

    .caja3{
        width: 110%;
        height: 7.2rem;
        overflow: auto;
    }

    .caja4{
        width: 100%;
        height: 5rem;
        overflow: auto;
        display: flex;
    }

    .inputDir2{
        background: #545454;
        height: 1.2rem;
        width: 90%;
        color: #DADADA;
        font-size: .8rem;
        
    }

    .inputDir3{
        background: #545454;
        height: 2rem;
        width: 100%;
        color: #DADADA;
        font-size: .8rem;
        margin-top: .1rem;
        padding: .2rem;
        
        
    }

    

    .containerSingleButtom{
        margin-top: .5rem;
        background: #547725;
        padding: .2rem;
        border-radius: .5rem;
        box-shadow: .2rem .2rem .8rem #545454;
        height: 3.5rem;
        margin-left: .2rem;
 
        .img-butons{
            height: 3rem;
            width: 3.5rem;
            
        }
 
    }

    .containerDeleteButtom{
        background: #EB464B;
        margin-top: .5rem;
        padding: .2rem;
        border-radius: .5rem;
        box-shadow: .2rem .2rem .8rem #545454;
        height: 3.5rem;
        margin-left: .2rem;

        .img-butons{
            height: 3rem;
            width: 3.5rem;
            
        }
    }

    .seccionButons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        width: 60%;
        margin-top: 5%;
        
    }

    .containerSingleButtom:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .containerDeleteButtom:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .seleccionadoSunday{
        position: absolute;
        top:28.5rem;
        left: 7rem;
    }

}

.item{
    font-size: .8rem;
}

.id{
    float: right;
    text-align: left;
    width: 50px;
    background: #00094B;
    padding-left: .5rem;
}

.subTitulo2{
    padding-top: .5rem;
}

.inputDir4{
    background: #545454;
    height: 2rem;
    width: 20%;
    color: #DADADA;
    font-size: .8rem;
    margin-top: .1rem;
    padding: .2rem;   
}

.excluir{
    margin-left: 1rem;
    color: #EB464B;
    font-weight: 800;
}

.check{
    margin-left: 1rem;
}
.asignations{
    background-color: #000000;
    width: 45%;
    float: right;
    margin-right: 26.5rem;
    height: 25%;
    margin-top: -20px;
    padding: .5rem;
    color: #FFFFFF;
    overflow: auto;
    position: relative;
    margin-bottom: 2px;
}

.asiganations_option{
     float: right;
     
}
.asiganation_li{
    background: #00094B;
    width: 40rem;
    height: 1.5rem;
    padding: .3rem;
}

.asignation_select{
    width: 11.2rem;
}

.btnAsignations{
    background: #547725;
    position: absolute;
    width: 3.2rem;
    right: 0;
    top: 25%;

    margin-top: .5rem;
    background: #547725;
    padding: .2rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .8rem #545454;
    height: 3.5rem;
}

.btnAsignations:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btnSAVE{
    position: absolute;
    left: 30%;
    top: 16.5%;
    z-index: 500;
    
}

.boxLeft{
    width: 32%; 
}

.boxRight{
    width: 32%;
}

.topImgImg{
    width: 25px;
    margin-left: 42%;
    padding: 0;
}

.checkFijo{
    margin-left: .5rem;
}

.fijoSpan{
    margin-left: .5rem;
}

.containerBreak{
    background: #DADADA;
    margin-top: .5rem;
    padding: .2rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .8rem #545454;
    height: 3.5rem;
    margin-left: 4.5rem;


    .img-butons{
        height: 3rem;
        width: 3.5rem;
        
    }
}

.containerBreak2{
    background: #701CF5;
    margin-top: .5rem;
    padding: .2rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .8rem #545454;
    height: 3.5rem;
    margin-left: 4.5rem;


    .img-butons{
        height: 3rem;
        width: 3.5rem;
        
    }
}

.containerBreak:hover{
 transform: scale(1.05);
 cursor: pointer;
}

.checkHidden{
    display: none;
}

.pgms1{
 background-color: #000000;
 color: #DADADA;
 position: absolute;
 width: 25%;
 left: 75%;
 top: 2%;
 z-index: 500;
 height: 45%;
 padding: 1rem;
}

.pgms1_cabezal{
    background: #17429e;
    padding: .5rem;
    margin-top: -10%;
    margin-left: -1rem;
    font-weight: 900;
    width: 109.5%;
   }




   .pgms{
    padding-top: 1.2rem;
    padding-bottom: 22%;
   }


   .contenedorLista{
    height: 100%;
    width: 100%;
    overflow: auto;
   }

   .funciones{
    background-color: #17429e;
    position: absolute;
    height: 120%;
    width: 100%;
    margin-left: -1rem;
    padding: 1rem;
    overflow: auto;
   }

   .Title{
    color: #FFFFFF;
    font-weight: 550;
    padding-bottom: .5rem;
   
   }

   .Title-program{
    width: 100%;
   }
    
    .pgm-bottom{
        background-color: #000000;
        padding: .2rem;
        border-radius: .5rem;
        text-align: center;
        margin-top: .2rem;
        margin-bottom: .2rem;
    }

    .pgm-bottom:hover{
        transform: scale(1.03);
        cursor: pointer;
    }

    .custom{
        width: 100%;
    }

    .pgm-bottom-2{
        background-color: #EB464B;
        padding: .2rem;
        border-radius: .5rem;
        margin-top: .9rem;
        margin-bottom: .2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pgm-bottom-3{
        background-color: #547725;
        padding: .2rem;
        border-radius: .5rem;
        margin-top: .9rem;
        margin-bottom: .2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    .pgm-bottom-2:hover, .pgm-bottom-3:hover{
        transform: scale(1.03);
        cursor: pointer;
    }

    .pgm-bottom-3:hover, .pgm-bottom-3:hover{
        transform: scale(1.03);
        cursor: pointer;
    }

    .levels{
        background-color: #00094B;
        position: absolute;
        top: 45%;
        left: 95%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .levels:hover{
        cursor: pointer;
    }

    .levels-image:active{
        transform: scale(1.1);
    }

    .active:hover{
       
        cursor: pointer;
    }

    .activo{
        background-color:#547725;
        cursor: pointer;
        width: 100%;
    }

    .activo1{
        background-color: #00094B;
        cursor: pointer;
    } 

    .arrow{
        width: 1rem;
        margin-right: .5rem;
    }

    .active{
        display: flex;
        align-items: center;
    }

    .pgms-actions{
        position: absolute;
        background-color: #17429e;
        bottom:.8rem;
        width: 90%;
        height: 4rem;
        padding: .2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        border-radius: 5px 5px 0  0;
        padding-top: .5rem;
    }

    .pgms-actions-clean{
        background-color: #547725;
        width: 3rem;
        height: 3rem;
        padding: .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .pgms-actions-del{
        background-color: #EB464B;
        width: 3rem;
        height: 3rem;
        padding: .6rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .pgms-actions-clean:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    .pgms-actions-del:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    .timeOutInput{
        width: 6rem;
        text-align: center;
    }

    .timeOutLb1{
        padding-right: .8rem;
    }

    .timeOutLb2{
        padding-left: .8rem;
    }

    .space{
        margin-top: 2rem;
    }

    .main1{
        display: flex;
        align-items: center;
        color: #EB464B;
        font-weight: 700;
    }

    .main2{
        display: flex;
        align-items: center;
        color: #DADADA;
        font-weight: 600;
    }

    .main3{
        display: flex;
        align-items: center;
        color: #547725;
        font-weight: 600;
    }

    .pgm-bottom-del{
        background-color: #EB464B;
        padding: .2rem;
        border-radius: .5rem;
        text-align: center;
        margin-top: .2rem;
        margin-bottom: .2rem;
    }

    .pgm-bottom-del:hover{
        transform: scale(1.03);
        cursor: pointer;
    }
    
.usersRotations{
    color: #ffffff;
    font-size: 1rem;
}

.usersRotations2{
    color: #EB464B;
    font-size: 1rem;
    font-weight: 800;
}



