/* Barra de cargos lateral */

/* Colores y estilos (Default) */

:root{
    --PrimaryColor:  #00094B;
    --HoverColor: #701CF5;
    --WhiteColor:#FFFFFF;
    --Secondary: #EB464B;
    --Base: #545454;
    --Base2: #DADADA;
    --Black: #000000;
    --Especial: #7ED957;
    --TextColor: #DADADA;
    --Alternativo1: #dd6c21;
    --Alternativo2: #2f800d;
    --Alternativo3: #E9BD1A;
  }
  
.barra{
    position: relative;
    height: calc(100vh + auto); /*Provisional - siempre es auto*/
    width: 100%;
    background: #FFFFFF;
    margin-top: -20px;
    border-radius: 10px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 1px 16px #545454;
    z-index: 800;
   


    .imgTropa{
        height: 10rem;
        width: 10rem;
    }

    .imgTropa:hover{
       transform: scale(0.97);
       cursor: pointer;
    }


    /* Listado de nombres*/
    .content-listado{
        position: relative;
        margin-top: 45.2px;
        font-size: 1rem;
        padding: 2rem  0  2rem  0;
        text-align: center;
        width: 100%;

        .ulMain{
            list-style-type: none; 
            overflow: hidden;
            width: 100%;
            padding: 0;
            margin-top: 0.50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .liMain{
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            
        }

        .liMain2{
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            
        }

        .liMain:hover{
            cursor: pointer;
            background:#701CF5;
            color: #DADADA;
            font-weight: 700;
        }

        .liMain2:hover{
            cursor: pointer;
            background:#6b000e;
            color: #DADADA;
            font-weight: 700;
        }

        /* estilos para personal en permiso */

        .liMain-var1{
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            font-weight: 700;
            color: #000000;
            background:#E9BD1A;
            
        }

        .liMain-var1:hover{
            cursor: pointer;
            
        }

        /* ----------------------------------------------------------------------------------------------------------------- */


        /* estilos para personal incapacitado */

        .liMain-var2{
            color: #DADADA;
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            background:red;
            font-weight: 700;
            
        }

        .liMain-var2:hover{
            cursor: pointer;
        
        }

        /* ----------------------------------------------------------------------------------------------------------------- */


        
        /* estilos para personal en Licencias */

        .liMain-var3{
            color: #DADADA;
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            background:#00094B;
            font-weight: 700;
            
        }

        .liMain-var3:hover{
            cursor: pointer;
              
        }

        /* ----------------------------------------------------------------------------------------------------------------- */

        /* estilos para personal en  vacaciones*/

        .liMain-var4{
            color: #000000;
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            background:  #dd6c21;
            font-weight: 700;
            
        }

        .liMain-var4:hover{
            cursor: pointer;
              
        }

        /* ----------------------------------------------------------------------------------------------------------------- */

        /* estilos para personal en descanso o break */

        .liMain-var5{
            color: #000000;
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            background:  #2f800d;
            font-weight: 700;
            
        }

        .liMain-var5:hover{
            cursor: pointer;
              
        }

        /* ----------------------------------------------------------------------------------------------------------------- */

        /* estilos para personal USERBALANCERS */

        .liMain-var6{
            color: #DADADA;
            width: 100%;
            border-bottom: 1px solid #545454;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 1.61rem;
            padding-top: 4.5px;
            background:  #000000;
            font-weight: 700;
            
        }

        .liMain-var6:hover{
            cursor: pointer;
              
        }

        /* ----------------------------------------------------------------------------------------------------------------- */

        .separador{
            height: 62px;
        }
    }
    
}

.calendar{
    position: sticky;
    top: 12%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-top: -80px;
    padding-bottom: 39.5px;
  }

  .picker{
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px #545454;
    border: 0; 
   
  }

  .showestados{
    position: absolute;
    margin-top: -12%;
    z-index: 1000;
    border: 5px solid #6b000e;
  }

  .mostrarAux2{
    width: 64.2%;
    height: 100vh;
    background: #545454;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    margin-top: 7%;
    padding: 1rem;
    transform: translateX(0);
  }

  .cabezal2{
    display: flex;
    background: #000000;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
  }

  .changeGroups_logo{
    height: 50px;
    width: 50px;
  }

  .cuerpo{
    display: flex;
    color: #DADADA;
    height: 79%;
    overflow: auto;
    margin-top: 1.5rem;
    flex-direction: column;
  }
    
    
    
  .inputDirNew{
    background: #545454;
    height: 2rem;
    width: 100%;
    color: #DADADA;
    padding-left: 1.1rem;
    font-size: 1.1rem;
    display: flex;
    margin-top: .5rem;
}

.subTituloNew{
    margin-top: 2rem;
    font-weight: 800;
   

}

.listadoUsers{
    width: 20%;
    height: 100%;
    margin-top: 1%;
    padding: 1rem;
    border: 1px solid  #dadada60;
    overflow: auto;
}

.asiganation_li2{
    width: auto;
    padding: .3rem;
    color: #DADADA;
}

.asiganation_li2:hover{
    cursor: pointer;
    transform: scale(1.01);
    background: #000000
}

.usersRotations3{
    color: #dd6c21;
    font-size: 1rem;
    font-weight: 800;
}

.sectionmedia{
    display: flex;
    flex-direction: row;
    height: 30%;
}

.agregar{
    margin-top: 1%;
    padding: 1rem;
    border: 1px solid  #dadada60;
    width: 70%;
    height: 100%;
}

.resultados{
    margin-top: 2%;
    padding: 1rem;
    border: 1px solid  #dadada60;
    width: 70%;
    height: 52%;
    overflow: auto;
    width: 100%;
}

.textAuxi{
    font-weight: 800;
    color: #000000;
    margin-bottom: 1rem;
}

.controles{
    width: auto;
    height: 100%;
    margin-top: 1%;
    padding: 1rem;
    border: 1px solid  #dadada60;
}

.agregado{
    padding: .5rem;
    width: 100%;
    height: 65%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

.subt{
    color: #DADADA;
    font-size: 1rem;
    margin-left: .5rem;
}

.titular{
    display: flex;
    align-items: center;
}

.li-resultados{
    margin: 2rem 0 2rem 0;
    width: 90%;
    display: flex;
    
}

.li-resultados:hover{
    background: #dd6c21;
    cursor: pointer;
    padding: .2rem;
    border-radius: 5px;
}


.add, .edit, .del{
    height: 30px;
}

.add:hover{
    cursor: pointer;
    transform: scale(1.12);
}

.edit:hover{
    cursor: pointer;
    transform: scale(1.12);
}

.del:hover{
    cursor: pointer;
    transform: scale(1.12);
    background: #6b000e;
}

.cabezal2-sub{
    position: absolute;
    top: 65px;
    left: 6%;
    color: #DADADA;
    font-size: 0.9rem;
}

.li-resultados-numero{
    position: relative;
    color: #EB464B;
    background-color: #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 1.5rem;
    
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}